body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-window {
    width: 600px;
    height: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.row {
    border: 1px dashed gray;
    display: flex;
    flex: 1 1;
}

.letter-box {
    font-size: 66px;
    border-bottom: 5px solid black;
    height: 50%;
    margin: 0 10px;
    width: 50px;
    text-align: center;
    color: transparent;
    user-select: none;
}

.letter-box.showing {
    color: black;
}

.active-word {
    display: flex;
    justify-content: center;
    align-items: center;
}

.guess-letters {
    flex-wrap: wrap;
    padding: 10px 0;
}

.guess-letter {
    font-size: 35px;
    width: 12.5%;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.guess-letter:hover {
    opacity: 0.7;
}

.guess-letter.clicked-letter {
    pointer-events: none;
    text-decoration: line-through;
    opacity: 0.5;
}

.column {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}

.hangman-frame {
    width: 150px;
    height: 150px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
}

.base {
    width: 150px;
    height: 20px;
    background-color: black;
    position: absolute;
    bottom: 0;
}

.bar {
    background-color: black;
    position: absolute;
}

.bar.one {
    width: 2px;
    height: 100px;
    left: 30px;
    bottom: 20px;
}

.bar.two {
    width: 52px;
    height: 2px;
    left: 50%;
    bottom: 119px;
    margin-left: -52px;
}

.bar.three {
    width: 2px;
    height: 10px;
    left: 50%;
    top: 29px;
}

.body-part {
    position: absolute;
    background-color: black;
    opacity: 0;
}

.body-part.showing {
    opacity: 1;
}

.head {
    width: 21px;
    height: 21px;
    left: 50%;
    margin-left: -10.5px;
    top: 39px;
    border-radius: 100%;
}

.torso {
    width: 2px;
    height: 33px;
    left: 50%;
    top: 60px;
}

.limb {
    width: 20px;
    height: 2px;
    left: 50%;
}

.limb.left {
    margin-left: -16px;
    transform: rotate(-45deg);
}

.limb.right {
    margin-left: -2px;
    transform: rotate(45deg);
}

.limb.arm {
    top: 75px;
}

.limb.leg {
    top: 97px;
}